function Board.new 1
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 31
pop static 0
push constant 64
call Array.new 1
pop this 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 64
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Board.drawBoard 1
pop temp 0
push constant 5
pop this 1
push constant 5
pop this 2
push pointer 0
push constant 0
not
call Board.drawCursor 2
pop temp 0
push pointer 0
push constant 21
push constant 9
call Board.drawScore 3
pop temp 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.drawBoard 1
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 9
lt
not
if-goto WHILE_END0
push constant 132
push static 0
push local 0
call Math.multiply 2
add
push constant 4
push constant 132
push static 0
push local 0
call Math.multiply 2
add
push constant 252
call Screen.drawLine 4
pop temp 0
push constant 132
push constant 4
push static 0
push local 0
call Math.multiply 2
add
push constant 380
push constant 4
push static 0
push local 0
call Math.multiply 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.drawPiece 2
push argument 0
pop pointer 0
push argument 2
push constant 8
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 1
push local 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 147
push static 0
push argument 1
call Math.multiply 2
add
push constant 19
push static 0
push argument 2
call Math.multiply 2
add
push constant 12
call Screen.drawCircle 3
pop temp 0
push local 1
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
call Screen.setColor 1
pop temp 0
push constant 147
push static 0
push argument 1
call Math.multiply 2
add
push constant 19
push static 0
push argument 2
call Math.multiply 2
add
push constant 11
call Screen.drawCircle 3
pop temp 0
label IF_FALSE2
push constant 0
return
function Board.setPiece 0
push argument 0
pop pointer 0
push argument 2
push constant 8
call Math.multiply 2
push argument 1
add
push this 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push argument 1
push argument 2
call Board.drawPiece 3
pop temp 0
push constant 0
return
function Board.getColor 0
push argument 0
pop pointer 0
push argument 2
push constant 8
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
return
function Board.getX 0
push argument 0
pop pointer 0
push this 1
return
function Board.getY 0
push argument 0
pop pointer 0
push this 2
return
function Board.drawCursor 2
push argument 0
pop pointer 0
push constant 134
push static 0
push this 1
call Math.multiply 2
add
pop local 0
push constant 6
push static 0
push this 2
call Math.multiply 2
add
pop local 1
push argument 1
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push static 0
add
push constant 4
sub
push local 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push static 0
add
push constant 4
sub
push local 0
push static 0
add
push constant 4
sub
push local 1
push static 0
add
push constant 4
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.moveCursor 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Board.drawCursor 2
pop temp 0
push argument 1
push constant 4
eq
push this 1
push constant 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
sub
pop this 1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 6
eq
push this 1
push constant 7
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1
add
pop this 1
goto IF_END1
label IF_FALSE1
push argument 1
push constant 8
eq
push this 2
push constant 0
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 1
sub
pop this 2
goto IF_END2
label IF_FALSE2
push argument 1
push constant 2
eq
push this 2
push constant 7
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 1
add
pop this 2
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push pointer 0
push constant 0
not
call Board.drawCursor 2
pop temp 0
push constant 0
return
function Board.getWhiteScore 0
push argument 0
pop pointer 0
push this 3
return
function Board.getBlackScore 0
push argument 0
pop pointer 0
push this 4
return
function Board.updateScore 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 64
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 1
add
pop local 2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 1
push local 2
call Board.drawScore 3
pop temp 0
push local 2
pop this 3
push local 1
pop this 4
push constant 0
return
function Board.drawScore 4
push argument 0
pop pointer 0
push argument 1
push constant 10
call Math.divide 2
pop local 1
push argument 1
push local 1
push constant 10
call Math.multiply 2
sub
pop local 0
push argument 2
push constant 10
call Math.divide 2
pop local 3
push argument 2
push local 3
push constant 10
call Math.multiply 2
sub
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 442
push constant 100
push constant 12
call Screen.drawCircle 3
pop temp 0
push constant 442
push constant 210
push constant 12
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 442
push constant 210
push constant 11
call Screen.drawCircle 3
pop temp 0
push pointer 0
push local 1
push constant 425
push constant 40
call Board.drawNumber 4
pop temp 0
push pointer 0
push local 0
push constant 445
push constant 40
call Board.drawNumber 4
pop temp 0
push pointer 0
push local 3
push constant 425
push constant 150
call Board.drawNumber 4
pop temp 0
push pointer 0
push local 2
push constant 445
push constant 150
call Board.drawNumber 4
pop temp 0
push constant 0
return
function Board.drawNumber 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 2
push argument 3
push argument 2
push constant 14
add
push argument 3
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 0
eq
push argument 1
push constant 2
eq
or
push argument 1
push constant 3
eq
or
push argument 1
push constant 4
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 3
push argument 2
push constant 14
add
push argument 3
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
push argument 1
push constant 6
eq
or
push argument 1
push constant 8
eq
or
push argument 1
push constant 0
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
push argument 3
push constant 16
add
push argument 2
push constant 2
add
push argument 3
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 7
gt
push argument 1
push constant 0
eq
or
push argument 1
push constant 3
gt
push argument 1
push constant 7
lt
and
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 2
push argument 3
push argument 2
push constant 2
add
push argument 3
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 5
lt
push argument 1
push constant 6
gt
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 2
push constant 12
add
push argument 3
push argument 2
push constant 14
add
push argument 3
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push argument 1
push constant 2
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 2
push constant 12
add
push argument 3
push constant 16
add
push argument 2
push constant 14
add
push argument 3
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 1
eq
not
push argument 1
push constant 4
eq
not
and
push argument 1
push constant 7
eq
not
and
push argument 1
push constant 9
eq
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 2
push argument 3
push constant 28
add
push argument 2
push constant 14
add
push argument 3
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push argument 1
push constant 1
eq
not
push argument 1
push constant 7
eq
not
and
push argument 1
push constant 0
eq
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 2
push argument 3
push constant 14
add
push argument 2
push constant 14
add
push argument 3
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push constant 0
return
