<class>
<keyword> class </keyword>
<identifier> Main CAT=CLASS USED=false </identifier>
<symbol> { </symbol>
<subroutineDec>
<keyword> function </keyword>
<keyword> void </keyword>
<identifier> main CAT=SUB USED=false </identifier>
<symbol> ( </symbol>
<parameterList>
</parameterList>
<symbol> ) </symbol>
<subroutineBody>
<symbol> { </symbol>
<varDec>
<keyword> var </keyword>
<identifier> Array CAT=TYPE USED=true </identifier>
<identifier> a CAT=VAR USED=false </identifier>
<symbol> ; </symbol>
</varDec>
<varDec>
<keyword> var </keyword>
<keyword> int </keyword>
<identifier> length CAT=VAR USED=false </identifier>
<symbol> ; </symbol>
</varDec>
<varDec>
<keyword> var </keyword>
<keyword> int </keyword>
<identifier> i CAT=VAR USED=false </identifier>
<symbol> , </symbol>
<identifier> sum CAT=VAR USED=false </identifier>
<symbol> ; </symbol>
</varDec>
<statements>
<letStatement>
<keyword> let </keyword>
<identifier> length CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<identifier> Keyboard CAT=VAR USED=true </identifier>
<symbol> . </symbol>
<identifier> readInt CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
<expression>
<term>
<stringConstant> How many numbers?  </stringConstant>
</term>
</expression>
</expressionList>
<symbol> ) </symbol>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<letStatement>
<keyword> let </keyword>
<identifier> a CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<identifier> Array CAT=VAR USED=true </identifier>
<symbol> . </symbol>
<identifier> new CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
<expression>
<term>
<identifier> length CAT=VAR USED=true </identifier>
</term>
</expression>
</expressionList>
<symbol> ) </symbol>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<letStatement>
<keyword> let </keyword>
<identifier> i CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<whileStatement>
<keyword> while </keyword>
<symbol> ( </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
<symbol> &lt; </symbol>
<term>
<identifier> length CAT=VAR USED=true </identifier>
</term>
</expression>
<symbol> ) </symbol>
<symbol> { </symbol>
<statements>
<letStatement>
<keyword> let </keyword>
<identifier> a CAT=VAR USED=true </identifier>
<symbol> [ </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
</expression>
<symbol> ] </symbol>
<symbol> = </symbol>
<expression>
<term>
<identifier> Keyboard CAT=VAR USED=true </identifier>
<symbol> . </symbol>
<identifier> readInt CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
<expression>
<term>
<stringConstant> Enter the next number:  </stringConstant>
</term>
</expression>
</expressionList>
<symbol> ) </symbol>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<letStatement>
<keyword> let </keyword>
<identifier> i CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
<symbol> + </symbol>
<term>
<integerConstant> 1 </integerConstant>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
</statements>
<symbol> } </symbol>
</whileStatement>
<letStatement>
<keyword> let </keyword>
<identifier> i CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<letStatement>
<keyword> let </keyword>
<identifier> sum CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<whileStatement>
<keyword> while </keyword>
<symbol> ( </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
<symbol> &lt; </symbol>
<term>
<identifier> length CAT=VAR USED=true </identifier>
</term>
</expression>
<symbol> ) </symbol>
<symbol> { </symbol>
<statements>
<letStatement>
<keyword> let </keyword>
<identifier> sum CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<identifier> sum CAT=VAR USED=true </identifier>
</term>
<symbol> + </symbol>
<term>
<identifier> a CAT=VAR USED=true </identifier>
<symbol> [ </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
</expression>
<symbol> ] </symbol>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
<letStatement>
<keyword> let </keyword>
<identifier> i CAT=VAR USED=true </identifier>
<symbol> = </symbol>
<expression>
<term>
<identifier> i CAT=VAR USED=true </identifier>
</term>
<symbol> + </symbol>
<term>
<integerConstant> 1 </integerConstant>
</term>
</expression>
<symbol> ; </symbol>
</letStatement>
</statements>
<symbol> } </symbol>
</whileStatement>
<doStatement>
<keyword> do </keyword>
<identifier> Output CAT=SUB USED=true </identifier>
<symbol> . </symbol>
<identifier> printString CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
<expression>
<term>
<stringConstant> The average is:  </stringConstant>
</term>
</expression>
</expressionList>
<symbol> ) </symbol>
<symbol> ; </symbol>
</doStatement>
<doStatement>
<keyword> do </keyword>
<identifier> Output CAT=SUB USED=true </identifier>
<symbol> . </symbol>
<identifier> printInt CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
<expression>
<term>
<identifier> sum CAT=VAR USED=true </identifier>
</term>
<symbol> / </symbol>
<term>
<identifier> length CAT=VAR USED=true </identifier>
</term>
</expression>
</expressionList>
<symbol> ) </symbol>
<symbol> ; </symbol>
</doStatement>
<doStatement>
<keyword> do </keyword>
<identifier> Output CAT=SUB USED=true </identifier>
<symbol> . </symbol>
<identifier> println CAT=SUB USED=true </identifier>
<symbol> ( </symbol>
<expressionList>
</expressionList>
<symbol> ) </symbol>
<symbol> ; </symbol>
</doStatement>
<returnStatement>
<keyword> return </keyword>
<symbol> ; </symbol>
</returnStatement>
</statements>
<symbol> } </symbol>
</subroutineBody>
</subroutineDec>
<symbol> } </symbol>
</class>
