function Main.main 1
// Compiling statements
// Do statement
call PongGame.newInstance 0
pop temp 0
// End do statement
// Let statement
call PongGame.getInstance 0
pop local 0
// End let statement
// Do statement
push local 0
call PongGame.run 1
pop temp 0
// End do statement
// Do statement
push local 0
call PongGame.dispose 1
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
