function Main.main 0
// Compiling statements
// Do statement
push constant 1
push constant 2
push constant 3
call Math.multiply 2
add
call Output.printInt 1
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
