function Main.main 1
// Compiling statements
// Let statement
call SquareGame.new 0
pop local 0
// End let statement
// Do statement
call game.run 0
pop temp 0
// End do statement
// Do statement
call game.dispose 0
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
