function SquareGame.new 0
// Compiling statements
// Let statement
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
// End let statement
// Let statement
push constant 0
pop this 1
// End let statement
// Return statement
return
// End return statement
function SquareGame.dispose 0
// Compiling statements
// Do statement
call square.dispose 0
pop temp 0
// End do statement
// Do statement
call Memory.deAlloc 1
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
function SquareGame.run 2
// Compiling statements
// Let statement
push constant 0
pop local 1
// End let statement
// While statement
label whileStart0
push local 1
not
not
if-goto whileEnd0
// Compiling statements
// While statement
label whileStart1
push local 0
push constant 0
eq
not
if-goto whileEnd1
// Compiling statements
// Let statement
call Keyboard.keyPressed 0
pop local 0
// End let statement
// Do statement
call SquareGame.moveSquare 0
pop temp 0
// End do statement
goto whileStart1
label whileEnd1
// End while statement
// If statement
push local 0
push constant 81
eq
not
if-goto ifEnd2
// Compiling statements
// Let statement
push constant 1
neg
pop local 1
// End let statement
goto elseEnd2
label ifEnd2
label elseEnd2
// End if statement
// If statement
push local 0
push constant 90
eq
not
if-goto ifEnd3
// Compiling statements
// Do statement
call square.decSize 0
pop temp 0
// End do statement
goto elseEnd3
label ifEnd3
label elseEnd3
// End if statement
// If statement
push local 0
push constant 88
eq
not
if-goto ifEnd4
// Compiling statements
// Do statement
call square.incSize 0
pop temp 0
// End do statement
goto elseEnd4
label ifEnd4
label elseEnd4
// End if statement
// If statement
push local 0
push constant 131
eq
not
if-goto ifEnd5
// Compiling statements
// Let statement
push constant 1
pop this 1
// End let statement
goto elseEnd5
label ifEnd5
label elseEnd5
// End if statement
// If statement
push local 0
push constant 133
eq
not
if-goto ifEnd6
// Compiling statements
// Let statement
push constant 2
pop this 1
// End let statement
goto elseEnd6
label ifEnd6
label elseEnd6
// End if statement
// If statement
push local 0
push constant 130
eq
not
if-goto ifEnd7
// Compiling statements
// Let statement
push constant 3
pop this 1
// End let statement
goto elseEnd7
label ifEnd7
label elseEnd7
// End if statement
// If statement
push local 0
push constant 132
eq
not
if-goto ifEnd8
// Compiling statements
// Let statement
push constant 4
pop this 1
// End let statement
goto elseEnd8
label ifEnd8
label elseEnd8
// End if statement
// While statement
label whileStart9
push local 0
push constant 0
eq
not
not
if-goto whileEnd9
// Compiling statements
// Let statement
call Keyboard.keyPressed 0
pop local 0
// End let statement
// Do statement
call SquareGame.moveSquare 0
pop temp 0
// End do statement
goto whileStart9
label whileEnd9
// End while statement
goto whileStart0
label whileEnd0
// End while statement
// Return statement
push constant 0
return
// End return statement
function SquareGame.moveSquare 0
// Compiling statements
// If statement
push this 1
push constant 1
eq
not
if-goto ifEnd10
// Compiling statements
// Do statement
call square.moveUp 0
pop temp 0
// End do statement
goto elseEnd10
label ifEnd10
label elseEnd10
// End if statement
// If statement
push this 1
push constant 2
eq
not
if-goto ifEnd11
// Compiling statements
// Do statement
call square.moveDown 0
pop temp 0
// End do statement
goto elseEnd11
label ifEnd11
label elseEnd11
// End if statement
// If statement
push this 1
push constant 3
eq
not
if-goto ifEnd12
// Compiling statements
// Do statement
call square.moveLeft 0
pop temp 0
// End do statement
goto elseEnd12
label ifEnd12
label elseEnd12
// End if statement
// If statement
push this 1
push constant 4
eq
not
if-goto ifEnd13
// Compiling statements
// Do statement
call square.moveRight 0
pop temp 0
// End do statement
goto elseEnd13
label ifEnd13
label elseEnd13
// End if statement
// Do statement
push constant 5
call Sys.wait 1
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
