function Square.new 0
// Compiling statements
// Let statement
push argument 1
pop this 0
// End let statement
// Let statement
push argument 2
pop this 1
// End let statement
// Let statement
push argument 3
pop this 2
// End let statement
// Do statement
call Square.draw 0
pop temp 0
// End do statement
// Return statement
return
// End return statement
function Square.dispose 0
// Compiling statements
// Do statement
call Memory.deAlloc 1
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
function Square.draw 0
// Compiling statements
// Do statement
push constant 1
neg
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
function Square.erase 0
// Compiling statements
// Do statement
push constant 0
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Return statement
push constant 0
return
// End return statement
function Square.incSize 0
// Compiling statements
// If statement
push this 1
push this 2
add
push constant 254
lt
push this 0
push this 2
add
push constant 510
lt
and
not
if-goto ifEnd0
// Compiling statements
// Do statement
call Square.erase 0
pop temp 0
// End do statement
// Let statement
push this 2
push constant 2
add
pop this 2
// End let statement
// Do statement
call Square.draw 0
pop temp 0
// End do statement
goto elseEnd0
label ifEnd0
label elseEnd0
// End if statement
// Return statement
push constant 0
return
// End return statement
function Square.decSize 0
// Compiling statements
// If statement
push this 2
push constant 2
gt
not
if-goto ifEnd1
// Compiling statements
// Do statement
call Square.erase 0
pop temp 0
// End do statement
// Let statement
push this 2
push constant 2
sub
pop this 2
// End let statement
// Do statement
call Square.draw 0
pop temp 0
// End do statement
goto elseEnd1
label ifEnd1
label elseEnd1
// End if statement
// Return statement
push constant 0
return
// End return statement
function Square.moveUp 0
// Compiling statements
// If statement
push this 1
push constant 1
gt
not
if-goto ifEnd2
// Compiling statements
// Do statement
push constant 0
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 2
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Let statement
push this 1
push constant 2
sub
pop this 1
// End let statement
// Do statement
push constant 1
neg
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
goto elseEnd2
label ifEnd2
label elseEnd2
// End if statement
// Return statement
push constant 0
return
// End return statement
function Square.moveDown 0
// Compiling statements
// If statement
push this 1
push this 2
add
push constant 254
lt
not
if-goto ifEnd3
// Compiling statements
// Do statement
push constant 0
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Let statement
push this 1
push constant 2
add
pop this 1
// End let statement
// Do statement
push constant 1
neg
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 2
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
goto elseEnd3
label ifEnd3
label elseEnd3
// End if statement
// Return statement
push constant 0
return
// End return statement
function Square.moveLeft 0
// Compiling statements
// If statement
push this 0
push constant 1
gt
not
if-goto ifEnd4
// Compiling statements
// Do statement
push constant 0
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Let statement
push this 0
push constant 2
sub
pop this 0
// End let statement
// Do statement
push constant 1
neg
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
goto elseEnd4
label ifEnd4
label elseEnd4
// End if statement
// Return statement
push constant 0
return
// End return statement
function Square.moveRight 0
// Compiling statements
// If statement
push this 0
push this 2
add
push constant 510
lt
not
if-goto ifEnd5
// Compiling statements
// Do statement
push constant 0
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
// Let statement
push this 0
push constant 2
add
pop this 0
// End let statement
// Do statement
push constant 1
neg
call Screen.setColor 1
pop temp 0
// End do statement
// Do statement
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
// End do statement
goto elseEnd5
label ifEnd5
label elseEnd5
// End if statement
// Return statement
push constant 0
return
// End return statement
